@model Prato_Model

@{
    ViewData["Title"] = "Detalhes do Prato";
}

<h1>Detalhes do Prato</h1>

<div>
    <h4>Nome: @Model.Nome</h4>
    <h4>Itens:</h4>
    <ul>
        @foreach (var item in Model.Itens)
        {
            <li>@item.QuantidadeGramas gramas de @item.ProdutoNome</li>
        }
    </ul>
    <h4>Custo Total: @Model.CustoTotal</h4>
    <h4>Porcentagem de Lucro: @Model.PorcentagemLucro%</h4>
</div>
