@using CardapioMVC.Controllers;
@model IEnumerable<Prato_Model>

@{
    ViewData["Title"] = "Lista de Pratos";
}

<h1>Lista de Pratos</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Itens</th>
                <th>Custo Total</th>
                <th>Porcentagem de Lucro</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prato in Model)
            {
                <tr>
                    <td>@prato.Nome</td>
                    <td>
                        <ul>
                            @foreach (var item in prato.Itens)
                            {
                                <li>@item.Quantidade gramas de @item.ProdutoNome</li>
                            }
                        </ul>
                    </td>
                    <td>@prato.CustoTotal</td>
                    <td>@prato.PorcentagemLucro%</td>
                    <td>
                        <a href="@Url.Action("Editar", new { id = prato.Id })" class="btn btn-primary">Editar</a>
                        <a href="@Url.Action("Excluir", new { id = prato.Id })" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum prato encontrado.</p>
}

<div>
    <a href="@Url.Action("CriarPratos")" class="btn btn-success">Criar Pratos</a>
</div>